<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shortcut.sol.shortcutnotif" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeInvisibleActivity"
            android:label="@string/title_activity_invisible"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name=".activities.VolumeInvisibleActivity"
            android:label="@string/title_activity_invisible"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>
        <activity
            android:name=".activities.LockInvisibleActivity"
            android:label="@string/title_activity_invisible"
            android:theme="@android:style/Theme.NoDisplay" >
        </activity>

        <receiver
            android:name=".receivers.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NotificationListener"
            android:label="Notification Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.FirstTimeLaunchActivity"
            android:label="@string/title_activity_first_time_launch"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
